{% extends "layout.html" %}
{% block body %}
	<div class="jumbotron">
		<h1>Plantr</h1>
        <h3 style="font-style: italic">The Self-Regulating Hydroponics System</h3>
	</div>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
            <h2>You are growing <b><i>Rosemary</i></b>.</h2>
        </div>
        <div class="col-md-4">
            <h3>Recent Metrics: </h3>
            <p><a class="btn btn-default" href="/database" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div> <!-- /container -->
{% endblock %}
